In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
df = pd.read_csv("GuestSatisfactionPrediction.csv")

C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2486922539.py:1: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("GuestSatisfactionPrediction.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8724 entries, 0 to 8723
Data columns (total 69 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                8724 non-null   int64
 1   listing_url                       8724 non-null   object
 2   name                              8724 non-null   object
 3   summary                           8497 non-null   object
 4   space                             7105 non-null   object
 5   description                       8630 non-null   object
 6   neighborhood_overview             6490 non-null   object
 7   notes                             5215 non-null   object
 8   transit                           5975 non-null   object
 9   access                            6011 non-null   object
 10  interaction                       6164 non-null   object
 11  house_rules                       6754 non-null   object
 12  thumbnail_url                     0 non-null      float64
 13  host_id                           8724 non-null   int64
 14  host_url                          8724 non-null   object
 15  host_name                         8723 non-null   object
 16  host_since                        8723 non-null   object
 17  host_location                     8710 non-null   object
 18  host_about                        6262 non-null   object
 19  host_response_time                7667 non-null   object
 20  host_response_rate                7667 non-null   object
 21  host_acceptance_rate              0 non-null      float64
 22  host_is_superhost                 8723 non-null   object
 23  host_neighbourhood                7492 non-null   object
 24  host_listings_count               8723 non-null   float64
 25  host_total_listings_count         8723 non-null   float64
 26  host_has_profile_pic              8723 non-null   object
 27  host_identity_verified            8723 non-null   object
 28  street                            8724 non-null   object
 29  neighbourhood                     8453 non-null   object
 30  neighbourhood_cleansed            8724 non-null   object
 31  city                              8724 non-null   object
 32  state                             8722 non-null   object
 33  zipcode                           8638 non-null   object
 34  market                            8713 non-null   object
 35  smart_location                    8724 non-null   object
 36  country_code                      8724 non-null   object
 37  country                           8724 non-null   object
 38  latitude                          8724 non-null   float64
 39  longitude                         8724 non-null   float64
 40  is_location_exact                 8724 non-null   object
 41  property_type                     8724 non-null   object
 42  room_type                         8724 non-null   object
 43  accommodates                      8724 non-null   int64
 44  bathrooms                         8723 non-null   float64
 45  bedrooms                          8721 non-null   float64
 46  beds                              8721 non-null   float64
 47  bed_type                          8724 non-null   object
 48  amenities                         8724 non-null   object
 49  square_feet                       106 non-null    float64
 50  nightly_price                     8724 non-null   object
 51  price_per_stay                    8724 non-null   object
 52  security_deposit                  7280 non-null   object
 53  cleaning_fee                      8068 non-null   object
 54  guests_included                   8724 non-null   int64
 55  extra_people                      8724 non-null   object
 56  minimum_nights                    8724 non-null   int64
 57  maximum_nights                    8724 non-null   int64
 58  number_of_reviews                 8724 non-null   int64
 59  number_of_stays                   8724 non-null   int64
 60  first_review                      8724 non-null   object
 61  last_review                       8724 non-null   object
 62  review_scores_rating              8724 non-null   float64
 63  requires_license                  8724 non-null   object
 64  instant_bookable                  8724 non-null   object
 65  is_business_travel_ready          8724 non-null   object
 66  cancellation_policy               8724 non-null   object
 67  require_guest_profile_picture     8724 non-null   object
 68  require_guest_phone_verification  8724 non-null   object
dtypes: float64(11), int64(8), object(50)
memory usage: 4.6+ MB

In [8]:
df.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'thumbnail_url', 'host_id', 'host_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'street', 'neighbourhood',
       'neighbourhood_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'nightly_price', 'price_per_stay', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'number_of_reviews', 'number_of_stays', 'first_review', 'last_review',
       'review_scores_rating', 'requires_license', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification'],
      dtype='object')

In [9]:
df.neighbourhood_cleansed.value_counts()

neighbourhood_cleansed
Mission Bay             1071
Pacific Beach            725
La Jolla                 571
East Village             514
North Hills              504
                        ...
Yosemite Dr                2
Tijuana River Valley       2
Lincoln Park               1
Thomy Locust Pl            1
Eastlake Trails            1
Name: count, Length: 102, dtype: int64

In [10]:
df.zipcode.value_counts()

zipcode
92109.0       1673
92101.0       1182
92037.0        555
92103.0        538
92107.0        516
              ...
92075.0          1
92139            1
91901            1
92131            1
92104-5446       1
Name: count, Length: 87, dtype: int64

In [11]:
df.country.value_counts()

country
United States     8720
Mexico               3
United Kingdom       1
Name: count, dtype: int64

In [12]:
df.thumbnail_url.value_counts()

Series([], Name: count, dtype: int64)

In [13]:
##one hot encoding for require_guest_phone_verification / require_guest_profile_picture / instant_bookable / is_location_exact / host_identity_verified /host_has_profile_pic / host_is_superhost

In [14]:
#Ordinal Encoding for host_response_time of label

In [15]:
##Label Encoding for cancellation_policy/ bed_type / room_type /property_type / country /smart_location / market /state /city / street / host_location /

In [16]:
## transform to duration first_review /last_review / host_since /

## 1,2 del w duratiion host_since with this date w duration

In [17]:
#review_scores_rating targeet

In [18]:
# MISSING VALUES
# transit ya dr hn3ml eeeh

In [19]:
## may be encoded / neighbourhood_cleansed replaced by neighbourhood w hn3ml tokenization
#host_neighbourhood  encoding using Embeddings

In [20]:
#ameninities lazm extract texts feh w mmkn tt7t kol wa7da fe column as new feature     To convert this string into a usable Python list, follow these steps: One-Hot Encode the Amenities
# from wordcloud import WordCloud
#wc = WordCloud(width=500,height=500,min_font_size=10,background_color='white')
#spam_wc = wc.generate(df[df['label_num'] == 1]['text_transformed'].str.cat(sep=" "))
#plt.figure(figsize=(15,6))
#plt.imshow(spam_wc)

In [21]:
## could be dropped              #features dublicated
# is_business_travel_ready / requires_license /host_about / host_acceptance_rate / thumbnail_url /square_feet /neighbourhood / notes / id / country_code /host_name / name / listing_url  / host_url

In [22]:
#host_response_rate remove %

In [23]:
# string to be rewviewed neighbourhood_cleansed/ ameninities / house_rules / interaction / access / transit / notes / neighborhood_overview / space / summary / discrition

In [24]:
# name 8672 rows × 1 columns could be replaced wih another column & deleted or encoded

In [25]:
#df['square_feet'].isnull().sum() #8724 rows  #8618 nulls

In [26]:
#8672 rows × 1 columns           8724 rows
df['name'].isnull().sum()

0

In [27]:
binary_columns = [
    'require_guest_phone_verification',
    'require_guest_profile_picture',
    'instant_bookable',
    'is_location_exact',
    'host_identity_verified',
    'host_has_profile_pic',
    'is_business_travel_ready',
    'host_is_superhost',
]

In [28]:
df['require_guest_phone_verification'].replace({ 1: "t", 0:"f"},inplace=True)
df['require_guest_phone_verification'] = df['require_guest_phone_verification'].replace({1: "t", 0: "f"})

df['require_guest_profile_picture'] = df['require_guest_profile_picture'].replace({ 1: "t", 0:"f"},inplace=True)
df['instant_bookable']=df['instant_bookable'].replace({ 1: "t", 0:"f"},inplace=True)
df['is_location_exact']=df['is_location_exact'].replace({ 1: "t", 0:"f"},inplace=True)
df['host_identity_verified']=df['host_identity_verified'].replace({ 1: "t", 0:"f"},inplace=True)
df['host_has_profile_pic']=df['host_has_profile_pic'].replace({ 1: "t", 0:"f"},inplace=True)
df['is_business_travel_ready'] =df['is_business_travel_ready'].replace({ 1: "t", 0:"f"},inplace=True)
df['host_is_superhost']=df['host_is_superhost'].replace({ 1: "t", 0:"f"},inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['require_guest_phone_verification'].replace({ 1: "t", 0:"f"},inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['require_guest_profile_picture'] = df['require_guest_profile_picture'].replace({ 1: "t", 0:"f"},inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['instant_bookable']=df['instant_bookable'].replace({ 1: "t", 0:"f"},inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['is_location_exact']=df['is_location_exact'].replace({ 1: "t", 0:"f"},inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_identity_verified']=df['host_identity_verified'].replace({ 1: "t", 0:"f"},inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_has_profile_pic']=df['host_has_profile_pic'].replace({ 1: "t", 0:"f"},inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['is_business_travel_ready'] =df['is_business_travel_ready'].replace({ 1: "t", 0:"f"},inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_14292\2260794318.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_is_superhost']=df['host_is_superhost'].replace({ 1: "t", 0:"f"},inplace=True)

In [29]:
label_cols = [
    'cancellation_policy', 'bed_type', 'room_type', 'property_type',
    'country', 'smart_location', 'market', 'state', 'city', 'street', 'host_location'
]

# Initialize a dictionary to store the encoders
label_encoders = {}

# Apply LabelEncoder to each column
for col in label_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))
    label_encoders[col] = le  # Store the encoder for future use

In [30]:
df.head()

,id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,number_of_stays,first_review,last_review,review_scores_rating,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
0,21514496,https://www.airbnb.com/rooms/21514496,PRIVATE BEDROOM DOWNTOWN 2 BED/ 2 BATH #5,Beautiful 2 bedroom 2 bathroom furnished apart...,Each apartment is fully furnished and consists...,Beautiful 2 bedroom 2 bathroom furnished apart...,NaN,***Note that the pictures on the website may o...,NaN,NaN,...,2,11/17/2017,11/17/2017,80.0,f,None,None,3,None,f
1,990185,https://www.airbnb.com/rooms/990185,4 bed/2 ba Family Retreat in SD,We feel our house is a great place for a famil...,Our house is ideal for large families or group...,We feel our house is a great place for a famil...,Neighborhood Mira Mesa is a culturally diverse...,NaN,NaN,Our guests may use the BBQ grill.,...,26,8/2/2013,7/31/2019,97.0,f,None,None,1,None,f
2,19878244,https://www.airbnb.com/rooms/19878244,San Diego Dream Villa,"Zen, Luxury and the Best Location in Americas ...","San Diego Dream Villa, this unique and luxurio...","Zen, Luxury and the Best Location in Americas ...",This amazing house is located within a few min...,Im always available to make your trip experien...,"If you are bringing your car, remember that SD...",A couple of days before your arrival you will ...,...,170,7/23/2017,7/16/2019,98.0,f,None,None,3,None,f
3,24561458,https://www.airbnb.com/rooms/24561458,Studio with Piazza View in Downtown Little Italy,Start the day with breakfast on the sunny pati...,"Newly built, this beautiful studio is located ...",Start the day with breakfast on the sunny pati...,"Spend the day at the zoo in Balboa Park, or ex...",The apartment is located on the Piazza Della F...,"MTS, Train, and Trolly are close by. The airpo...",You will not be sharing the apartment with any...,...,212,5/1/2018,8/3/2019,98.0,f,None,None,1,None,f
4,32269829,https://www.airbnb.com/rooms/32269829,Beachside Retreat w/ Private Rooftop Deck w/ V...,This is a 2 bedroom/1 bathroom beachside unit...,Beach living at its finest! The highlight of ...,This is a 2 bedroom/1 bathroom beachside unit...,Mission Beach is an amazing coastal community ...,NaN,The Boardwalk and Bayside Walk are wonderful w...,This is a private home that is part of a typic...,...,2,6/30/2019,6/30/2019,100.0,f,None,None,3,None,f

In [31]:
print(df[['extra_people', 'first_review', 'last_review']].head())

  extra_people first_review last_review
0       $0.00    11/17/2017  11/17/2017
1      $15.00      8/2/2013   7/31/2019
2      $14.00     7/23/2017   7/16/2019
3       $0.00      5/1/2018    8/3/2019
4      $20.00     6/30/2019   6/30/2019